<!DOCTYPE html>
<html>
    <head>
        <title>NJC Studios - About</title>
        <%- include('../fragments/imports'); %>
    </head>
    <body class="body">
        <%- include('../fragments/header'); %>
        <br>
        <div class="container">
            <p>
                <big>My name is Noah Chaney</big>. I am a recent graduate from Eastern Oregon University with a 
                bachelor's in computer science and a bachelor's in mathematics. I have been doing
                the private IT business since 2020 and would like to continue expanding beyond eastern Oregon.
            </p>
            <br>
            <p>
                <big>I am education-centered</big>, meaning as I do a project with you, I will also teach you as much as 
                you'd like on it. For example, if I am replacing a phone screen you have the option of 
                sitting and watching me do it, or I can record a video of me doing it so you can have 
                it as a resource at no additional charge with the service. Every service I do, unless it is a repeat
                service, will be posted on the <a href="/learn">learn page</a> for others to view as well. Think of me 
                as the people's knowledge base!
            </p>
            <br>
            <p>
                <big>My go-to is software development</big>, which is more expensive than general IT, but so much more rewarding
                for both me and my clients. See my <a href="/portfolio">portfolio</a> for examples of my work. I can do
                anything from simple scripting to a full lifecycle software, with clean code, amazing documentation, 
                and I will maintain the software if you choose to host with me.
            </p>
        </div>
        <br>
        <%- include('../fragments/footer'); %>
    </body>
</html>