<!DOCTYPE html>
<html>
    <head>
        <title>NJC Studios - Portfolio</title>
        <%- include('../fragments/imports'); %>
    </head>
    <body class="body">
        <%- include('../fragments/header'); %>
        <hr>

        <hr>
        <%- include('../fragments/footer'); %>
    </body>
</html>