<!DOCTYPE html>
<html>
    <head>
        <title>NJC Studios</title>
        <%- include('../fragments/imports'); %>
    </head>
    <body class="body">
        <%- include('../fragments/header'); %>
        <br>
        <div class="section container-fluid" id="section-1">
            <div class="container">
                <div class="row">                  
                    <div class="col vertical-center it-text">
                        <div class="it-text2">
                            <h3 class="text-dark">Your Friendly Neighborhood IT Guy</h3>
                            <h1>
                                Consultancy &amp; Software Development Company For Everyone
                            </h1>
                            <p class="mb-0 text-dark">If you can dream it, I can make it happen.</p>
                            <div>
                                <a class="btn black-btn mt-2" style="border-width: 2px;" href="/contact">Let’s Talk</a>
                                <a class="btn black-btn mt-2" style="border-width: 2px;" href="/services">Tell Me More</a>
                                <a class="btn black-btn mt-2" style="border-width: 2px;" href="/about">About Me</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="section container-fluid" id="section-2">
            <div class="container">
                <div class="row">
                    <div class="col vertical-center" >
                        <div class="it-text3" style="text-align: right;">
                            <h3 class="text-dark">Custom Software</h3>
                            <h1>
                                Let's Bring Your App or Software Idea to Life
                            </h1>
                            <p class="mb-0 text-dark">That idea you have IS possible!</p>
                            <div>
                                <a class="btn black-btn mt-2" style="border-width: 2px;" href="/contact">Get a Quote</a>
                                <a class="btn black-btn mt-2" style="border-width: 2px;" href="/services">Learn More</a>
                            </div>
                        </div>
                    </div>              
                </div>
            </div>
        </div>
        <br>
        <div class="section container-flex" id="section-3">
            <div class="container">
                <div class="row container" style="margin-left: auto; margin-right: auto">
                    <div class="col vertical-center" style="margin-right: 20px;">
                        <div class="it-text4" style="text-align: center;">
                            <h3 class="text-dark">My Work</h3>
                            <h1>
                                My Portfolio of Projects That are Worth Checking Out
                            </h1>
                            <p class="mb-0 text-dark">Let me show you what I can do.</p>
                            <div>
                                <a class="btn black-btn mt-2" style="border-width: 2px;" href="/portfolio">Show Me</a>
                            </div>
                        </div>
                    </div>    
                    <div class="col vertical-center" style="margin-left: 20px;">
                        <div class="it-text5" style="text-align: center;">
                            <h3 class="text-dark">Learning Materials</h3>
                            <h1>
                                Learn How You Can Start Your Own Technoloy Projects
                            </h1>
                            <p class="mb-0 text-dark">Knowledge is Power</p>
                            <div>
                                <a class="btn black-btn mt-2" style="border-width: 2px;" href="/services">I Want to Learn</a>
                            </div>
                        </div>
                    </div>            
                </div>
            </div>
        </div>

        <%- include('../fragments/footer'); %>
    </body>
</html>