<!DOCTYPE html>
<html>
    <head>
        <title>NJC Studios</title>
        <%- include('../fragments/imports'); %>
    </head>
    <body class="body">
        <%- include('../fragments/header'); %>
        <hr>

        <div class="content container">

        </div>

        <hr>
        <%- include('../fragments/footer'); %>
    </body>
</html>