<!DOCTYPE html>
<html>
    <head>
        <title>NJC Studios - Services</title>
        <link rel="icon" href="icon.ico">
        <%- include('../fragments/imports'); %>
    </head>
    <body class="body">
        <%- include('../fragments/header'); %>
        <hr>
        <div class="container">
            <!-- General IT & Consulting -->
            <div class="service hstack row" id="service-1">
                <div class="col">
                    <h3 class="text-end">General IT & Consulting</h3>
                    <p class="text-end">Networking, troubleshooting, PC's, Mac, Linux</p>
                    <a class="btn btn-primary float-end">I Need Service!</a>
                </div>
                <div class="col">
                    <p>General IT Services are dependent on the size of the project.</p>
                    <ul>
                        <li>General IT: $25/hr</li>
                        <li>IT Consulting: Free</li>
                        <li>Software Consulting: Starts $100, $35/hr after 1st hour</li>
                    </ul>
                </div>
            </div>
            <hr>

            <!-- Software/Application Development -->
            <div class="service hstack row" id="service-2">
                <div class="col">
                    <h3 class="text-end">Software/Application Development</h3>
                    <p class="text-end">Client-Server Applications, Mobile Native Apps, Desktop Native Apps, Multiplatform</p>
                    <a class="btn btn-primary float-end">Request a Quote!</a>
                </div>
                <div class="col">
                    <p>Every project will get a quote based on your needs.</p>
                    <ul>
                        <li>Project Quote: Free</li>
                        <li>Labor Cost: $35/hr</li>
                        <li>Hosting Cost: $15/month</li>
                        <li>Maintenance Cost: $20/month</li>
                    </ul>
                </div>
            </div>
            <hr>

            <!-- Website Development and Hosting -->
            <div class="service hstack row" id="service-3">
                <div class="col">
                    <h3 class="text-end">Web Development and Hosting</h3>
                    <p class="text-end">Websites, Web Application, Database, Server Hosting</p>
                    <a class="btn btn-primary float-end">Request a Quote!</a>
                </div>
                <div class="col">
                    <p>Web Development cost is dependent on complexity.</p>
                    <ul>
                        <li>Project Quote: Free</li>
                        <li>Labor Cost: $25/hr</li>
                        <li>Server Cost (Self-Hosting): ~$300-$500 to purchase</li>
                        <li>Hosting Cost: $10/month</li>
                        <li>Maintenance Cost: $15/month</li>
                    </ul>
                </div>
            </div>
            <hr>

            <!-- Electronics Repairs -->
            <div class="service hstack row" id="service-4">
                <div class="col">
                    <h3 class="text-end">Electronic Repairs</h3>
                    <p class="float-end text-end">iPhone, Macbook, iMac, Android Phones, Laptops, Desktops, Servers, IoT, Miscellaneous Electronics</p>
                    <a class="btn btn-primary float-end">I Need a Repair!</a>
                </div>
                <div class="col">
                    <p>Depending on the Device, Hourly or Flat Rate</p>
                    <ul>
                        <li>Project Quote: Free</li>
                        <li>Phone Repairs: $30</li>
                        <li>Desktop PC Repairs: $50</li>
                        <li>Laptop PC Repairs: $55</li>
                        <li>iMac Repairs: $70</li>
                        <li>Macbook Repairs: $75</li>
                        <li>Everything Else: $35 under 1 hour, $25/hr after</li>
                    </ul>
                </div>
            </div>
        </div>
        <hr>
        <%- include('../fragments/footer'); %>
    </body>
</html>